<div class="container-fluid">
  <div class="container-popup">
      <!-- {/* popup */} -->
      <div class="mainDiv-of-popup">
          <div class="cross-img">
              <img src='../../assets/images/false.png' />
          </div>
          <!-- {/* import file heading */} -->
          <div class="import-heading">
              <h6>Import File Heading</h6>
          </div>
          <!-- {/* input and label */} -->
          <form>
              <div class="inside-form-tag">
                  <!-- {/* browse file  */} -->
                  <div class="label-and-input-mainDiv">
                      <label>Browse File</label>
                      <div>
                          <input placeholder="Data.csv"/>
                          <img class="attach-img" src="../../assets/images/attach.png" width="20px"/>
                      </div>
                  </div>
                  <!-- {/* Add School Name */} -->
                  <div class="label-and-input-mainDiv">
                      <label>Add School Name</label>
                      <div>
                          <input placeholder="School D"/>
                      </div>
                  </div>
                  <div class="buttons">
                      <button class="popup-button btn-red">Import</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>